body {
    overflow: hidden;
    user-select: none;
    background-color: #161719;
    margin: 0;
}

#bottom, #top {
    position: absolute;
    width: 100vw;
    object-fit: cover;
    object-position: 0 -16vh;
    filter: contrast(115%) brightness(15%);
}

#top {
    transition: opacity 2s;
}

.notransition {
    transition: none !important;
}

.hidden {
    opacity: 0;
}

#noise {
    background-image: url("noise.png");
    position: absolute;
    min-width: 100vw;
    min-height: 100vh;
}
