body {
    overflow: hidden;
    user-select: none;
    background-color: #161719;
    margin: 0;
}

#slideshow_bottom, #slideshow_top {
    position: absolute;
    width: 100vw;
    object-fit: cover;
    object-position: 0 -16vh;
}

#slideshow_top {
    transition: opacity 2s;
}

.slideshow_hidden {
    opacity: 0;
}
