:root {
    --noise_opacity: 0;
    --noise_brightness: 1;
}

.noise_base {
    position: absolute;
    min-width: 100vw;
    min-height: 100vh;
    transition: opacity .4s ease-in-out;
}

#noise_noise {
    background-image: url("noise.png");
    opacity: var(--noise_opacity);
}

#noise_brightness {
    background-color: black;
    opacity: calc(1 - var(--noise_brightness));
}